.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.backgroundColor {
    background:rgba(4, 4, 4, 0.482);
    backdrop-filter: blur(2px); 
    height:100vh;
    width:100%;
    margin:0px auto 0 auto;
    padding: 8px 0px;
    color: white !important;
    font-family: 'MillimetreRegular'; 
}


.btn {
    border: none; /* Remove borders */
    color: white; /* White text */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 50%;
}

.quiz_bold {
    font-size: 1.5rem;
    font-weight: 900;
    color: #EB5757;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'AmburegulRegular'!important;
    font-weight: normal;
    font-style: normal; 
    
}

.question_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right {
    margin-right:5px;
}

.quiz_timer {
    font-size: 2rem;
    font-weight: 900;
    color: #FFE000; /* fall
    color: -webkit-linear-gradient(to right, #FFE000, #799F0C, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #FFE000, #799F0C, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.icon {
    font-size: 1.5rem;    
    border: 2px solid white;
    border-radius: 30px;
    padding: 6px;
}

.icon_left {
    margin-right: 1.3rem;
}

/* Darker background on mouse-over */
.btn:hover {
    color: #9d2626;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.lifeline_container {
    display: flex;
    justify-content: space-between;
}

.lifeline {
    position: relative;
    top: -3px;
    color:yellow
}

.lifeline_icon {
    color: yellow;
    cursor: pointer;
}

.lifeline_icon:hover {
    color: orangered;
    cursor: pointer;
}

.centerIcon {
    color: white;
    cursor: pointer;
}

.centerIcon:hover {
    color: orangered;
    cursor: pointer;
}

h5{
    font-size: 1.2rem;
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 1.5;
    text-align: center;
    font-weight: 800;
}

.options_container {
    display: inline-block;
    width: 50%;
    margin-bottom:0px;
}

.option {

    background: #D3959B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BFE6BA, #D3959B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BFE6BA, #D3959B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 30px;
    color: #ad5389;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #3c1053, #ad5389); 
    cursor: pointer;
    margin: 1rem 0.6rem;
    padding: 0.8rem;
    transition: 0.3s linear all;
    text-align: center;
}

.option:hover {
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button_container {
    display: flex;
    justify-content: flex-start;
    margin:0 auto 1rem auto;
    transition: 0.2s linear all;
}

.quiz_image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
    font-size: 100px;
}

.hr_tag1 {
        display: none; 
}

@media (max-width: 768px) {
    p {
        font-size: 0.9rem;
        font-weight: 800;
    }

    .options_container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .hr_tag1 {
        display:flex 
    }

    .icon {
        font-size: 0.9rem;
        border: 2px solid white;
        border-radius: 30px;
        width: 100%;
    }

    .lifeline_icon {
        font-size: 1.3rem;
    }

    .quiz_timer {
        text-align: center;
        padding-left: 35px;
    }

    .question_section {
        display: flex;
        flex-direction: column;
        height: 100px;
    }

    .question_ {
        margin-top: 20px;
    }

    .quiz_image {
        margin-top: 100px;
    } 
    
}